.vscode/
.DS_Store
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore Github directory
.github/ISSUE_TEMPLATE
.github/FUNDINGS.yml
.github/workflows/codeql.yml
