// Here you can add other styles
.hover-effect:hover {
  cursor: pointer;
}
             
.button-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap:2px;
}

.custom-action-button {
  width: 100%;
}

/* Additional styles for loading state */
.custom-action-button.loading {
  cursor: not-allowed;
  opacity: 0.8;
}

.button-penandaan {
  display: flex; 
  gap: 5px;
  flex-wrap: wrap;
  white-space: nowrap;
}